/* Btn */
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 44px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background: #68b738;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  outline: none; }
  .btn--block {
    display: block;
    width: 100%; }
  .btn:hover {
    background: #5eaa2f; }

/* Section */
.section {
  padding: 14px 0; }
  .section--intro {
    padding-top: 0; }

/* Header */
.header__inner {
  padding: 12px 0 17px;
  position: relative; }

.header__logo {
  transition: opacity 0.2s linear; }
  .header__logo:hover {
    opacity: 0.8; }
  .header__logo:active {
    opacity: 0.6; }
  .header__logo--mobile {
    width: 191px;
    height: 37.61px; }
  .header__logo--tablet {
    display: none;
    width: 174px;
    height: 51.68px; }
  .header__logo--desktop {
    display: none;
    width: 202px;
    height: 59px; }

/* Header Mdia */
@media (min-width: 768px) {
  .header__inner {
    padding-top: 24px;
    padding-bottom: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo--mobile {
    display: none; }
  .header__logo--tablet {
    display: block; } }

@media (min-width: 1250px) {
  .header__inner {
    padding-top: 53px;
    padding-bottom: 75px; }
  .header__logo--tablet {
    display: none; }
  .header__logo--desktop {
    display: block; } }

/* Footer */
.footer {
  background: #f2f2f2; }
  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 39px 0 22px; }
  .footer__logo {
    width: 128px;
    height: 24px;
    transition: opacity 0.2s linear; }
    .footer__logo:hover {
      opacity: 0.8; }
    .footer__logo:active {
      opacity: 0.6; }
  .footer__logo-link {
    padding-bottom: 32px;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    text-align: center; }

/* Social */
.social {
  padding: 20px 0;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .social__item-link {
    text-decoration: none; }
  .social__item {
    fill: #666666;
    width: 23px;
    height: 16px;
    transition: fill 0.2s linear, opacity 0.2s linear; }
    .social__item:hover {
      fill: #68b738; }
    .social__item:active {
      opacity: 0.3; }

/* Copyright */
.copyright {
  padding-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #d9d9d9; }
  .copyright__logo {
    fill: #666666;
    width: 27px;
    height: 34px;
    transition: fill 0.2s linear; }
    .copyright__logo:hover {
      fill: #68b738; }
  .copyright__link {
    text-decoration: none;
    transition: opacity 0.2s linear; }
    .copyright__link:active {
      opacity: 0.3; }
  .copyright__text {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    color: #444444; }

/* Footer Media*/
@media (min-width: 768px) {
  .footer__inner {
    padding: 55px 0 61px;
    flex-direction: row; }
  .footer__logo-link {
    border: none;
    width: auto;
    padding-bottom: 0; }
  .social {
    padding: 0; }
    .social__item {
      width: 30px;
      height: 22px; }
  .copyright {
    justify-content: space-around;
    width: 163px;
    padding-top: 0;
    border: none; } }

@media (min-width: 1250px) {
  .footer__inner {
    padding: 57px 0 58px; } }

/* Nav  */
.nav {
  display: none;
  width: 100%;
  background-color: #ffffff;
  padding-top: 17px; }
  .nav__link {
    display: block;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    border-top: 1px solid #e6e6e6;
    transition: opacity 0.2s linear; }
    .nav__link:last-child {
      border-bottom: 1px solid #e6e6e6; }
    .nav__link:hover {
      opacity: 0.6; }
    .nav__link:active {
      opacity: 0.3; }

.nav.active {
  display: block; }

.nav-toggle {
  width: 24px;
  padding: 10px 0;
  font-size: 0;
  color: transparent;
  border: 0;
  background: 0 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  outline: none; }

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: relative; }
  .nav-toggle__item::before, .nav-toggle__item::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform 0.2s linear; }
  .nav-toggle__item::before {
    top: -8px; }
  .nav-toggle__item::after {
    top: 8px; }

.nav-toggle.active {
  top: 12.5%; }

.nav-toggle.active .nav-toggle__item {
  background: none; }

.nav-toggle.active .nav-toggle__item::before {
  transform-origin: left top;
  transform: rotate(45deg); }

.nav-toggle.active .nav-toggle__item::after {
  transform-origin: left bottom;
  transform: rotate(-45deg); }

/* Nav Media */
@media (min-width: 768px) {
  .nav {
    padding-top: 0;
    width: auto;
    display: block;
    position: static; }
    .nav__link {
      display: inline-block;
      vertical-align: top;
      padding: 0;
      margin: 0 18px;
      border: 0;
      position: relative;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3; }
      .nav__link:last-child {
        border: 0; }
  .nav__link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #68b738;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1; }
  .nav-toggle {
    display: none; } }

/* Intro */
.intro {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center top;
  text-align: center;
  padding-top: 27px; }
  .intro__title {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff; }
  .intro__subtitle {
    padding-bottom: 310px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    position: relative; }
    .intro__subtitle::after {
      content: "";
      width: 280px;
      height: 270px;
      background: url("../img/index-can-mobile@1x.png") no-repeat;
      position: absolute;
      top: 43px;
      left: 0; }

/* Intro  Media */
@media (min-width: 768px) {
  .intro {
    padding-left: 90px;
    padding-bottom: 465px;
    background: none;
    text-align: left; }
    .intro::after {
      content: "";
      width: 508px;
      height: 495px;
      background: url("../img/index-can-desktop@1x.png") no-repeat;
      position: absolute;
      top: 38%;
      left: 16%;
      z-index: -1; }
    .intro__title {
      max-width: 414px;
      font-size: 60px;
      color: #000000; }
    .intro__subtitle {
      padding-bottom: 49px;
      max-width: 283px;
      font-size: 20px;
      color: #000000; }
      .intro__subtitle::after {
        display: none; }
    .intro__btn {
      width: auto;
      display: inline-block;
      padding: 14px 26px;
      font-size: 20px; } }

/* Services */
.services {
  display: flex;
  flex-wrap: wrap; }
  .services__item {
    padding: 30px 33px 18px 20px;
    width: 100%;
    background-color: #f2f2f2; }
    .services__item:first-child {
      margin-bottom: 20px; }
  .services__title {
    padding-left: 71px;
    padding-bottom: 29px;
    font-size: 24px;
    line-height: 1.54;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    position: relative; }
    .services__title::before {
      content: "";
      display: block;
      position: absolute;
      top: -10%;
      left: 3%;
      z-index: 2;
      width: 36px;
      height: 50px;
      background-repeat: no-repeat;
      background-image: url("../img/icon-cat-slim.svg"); }
    .services__title::after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #68b738;
      position: absolute;
      top: -5%;
      left: 0; }
  .services__title--pro::before {
    top: 10%;
    left: -4%;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg"); }
  .services__text {
    padding-bottom: 23px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    max-width: 227px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #444444; }
  .services__link {
    display: inline-block;
    vertical-align: middle;
    padding-right: 50px;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    position: relative; }
    .services__link::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 11px;
      background-repeat: no-repeat;
      background-image: url("../img/icon-right-arrow-long.svg");
      color: #000000; }
    .services__link:hover::after {
      width: 29px;
      height: 10px;
      background: url("../img/icon-right-arrow-verylong.svg"); }
    .services__link:active {
      opacity: 0.3; }

/* Services Media */
@media (min-width: 768px) {
  .services__item {
    padding: 77px 62px 53px 53px; }
    .services__item:first-child {
      margin-bottom: 30px; }
  .services__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 1;
    padding-right: 449px; }
    .services__title::before {
      top: -5%;
      left: 72%;
      width: 139px;
      height: 192px; }
    .services__title::after {
      width: 200px;
      height: 200px;
      top: 15%;
      left: 67%; }
  .services__title--pro::before {
    top: 65%;
    left: 62%;
    width: 268px;
    height: 112px; }
  .services__text {
    padding: 0;
    margin-bottom: 48px;
    max-width: 377px;
    border: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #000000; }
  .services__link {
    font-size: 20px;
    line-height: 1.5; } }

@media (min-width: 1250px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 80px;
         column-gap: 80px; }
    .services__item {
      padding: 77px 51px 55px 52px; }
      .services__item:first-child {
        margin-bottom: 0; }
    .services__title {
      padding: 0 0 0 162px;
      margin-bottom: 73px; }
      .services__title::before {
        top: -106%;
        left: 3%;
        width: 70px;
        height: 97px; }
      .services__title::after {
        width: 100px;
        height: 100px;
        top: -85%;
        left: 0; }
    .services__title--pro::before {
      top: -27%;
      left: -4%;
      width: 134px;
      height: 56px; } }

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #444444; }

*,
*::before,
*::after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  margin: 0 0 10px; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.img {
  display: block;
  max-width: 100%;
  height: auto; }

.container {
  width: 100%;
  max-width: 310px;
  margin: 0 auto;
  padding: 0 15px; }

@media (min-width: 768px) {
  .container {
    max-width: 738px; } }

@media (min-width: 1250px) {
  .container {
    max-width: 1250px; } }

/*# sourceMappingURL=style.css.map */
